/* slide.css */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideInLeft 0.5s ease-in-out;
}

.slide-right {
  animation: slideInRight 0.5s ease-in-out;
}
