@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@theme{
    --font-sans: "Open sans", sans-serif;
}

/* Enable touch class variants */
@variants group-is-touched {
  .translate-y-\[-19\%\] {
    transform: translateY(-19%);
  }
  .scale-y-100 {
    transform: scaleY(1);
  }
  .opacity-100 {
    opacity: 1;
  }
  .translate-y-30 {
    transform: translateY(30px);
  }
}